.App {
  text-align: center;
}
.login {
  text-decoration: none;
  color: #191414;
}
.artist {
  height: 250px;
  width: 800px;
  background-color: rgb(206 199 199);
  margin-bottom: 2vh;
  margin-top: 1vh;
  display: flex;
  border-radius: 20px;
}
.imgArtist {
  height: 200px;
  width: 200px;
  border-radius: 20px 0px 0px 0px;
}
.name-show {
  color: black;
  margin-left: 1vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1db954;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
